# `pandas`: Práce s chybějícími hodnotami, spojování dat
Odkaz na lekci: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/pokrocile-upravy

In [ ]:
import pandas

Data jsou tentokrát ve třech tabulkách:
* [u202.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u202.csv)
* [u203.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u203.csv)
* [u302.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u302.csv)

In [ ]:
u202 = pandas.read_csv("u202.csv")
u203 = pandas.read_csv("u203.csv")
u302 = pandas.read_csv("u302.csv")
u302

## Chybějící hodnoty

In [ ]:
u202.info()

In [ ]:
u202["znamka"].isna() # .isnull()

u202[u202["znamka"].isna()]

kterým studentům chybí známka ve třídě 202?

In [28]:
u202.dropna(subset=["znamka"])

# do subset zadávám ty sloupce, které chci, aby se zkontrolovaly NaN hodnoty
# bez subset se zkontrolují všechny sloupce

    cisloStudenta           predmet  znamka den mistnost
1               2           Dějepis     3.0  pá     u202
2               3        Matematika     2.0  út     u202
3               2  Společenské vědy     2.0  pá     u202
4               4          Biologie     1.0  pá     u202
5               5           Dějepis     1.0  po     u202
6               6            Fyzika     2.0  čt     u202
7               7           Dějepis     4.0  po     u202
8               8        Matematika     2.0  po     u202
10             10            Chemie     2.0  st     u202
11              3            Chemie     5.0  út     u202
12             11        Matematika     1.0  st     u202
13             12          Biologie     4.0  st     u202
14             10           Dějepis     5.0  st     u202

In [29]:
u202.dropna(subset=["znamka"])

    cisloStudenta           predmet  znamka den mistnost
1               2           Dějepis     3.0  pá     u202
2               3        Matematika     2.0  út     u202
3               2  Společenské vědy     2.0  pá     u202
4               4          Biologie     1.0  pá     u202
5               5           Dějepis     1.0  po     u202
6               6            Fyzika     2.0  čt     u202
7               7           Dějepis     4.0  po     u202
8               8        Matematika     2.0  po     u202
10             10            Chemie     2.0  st     u202
11              3            Chemie     5.0  út     u202
12             11        Matematika     1.0  st     u202
13             12          Biologie     4.0  st     u202
14             10           Dějepis     5.0  st     u202

## Spojení tabulek

In [ ]:
u202["mistnost"]="u202"
u203["mistnost"]="u203"
u302["mistnost"]="u302"

In [ ]:
pandas.concat([u202, u203, u302]) # nespojuje indexy

pandas.concat([u202, u203, u302],ignore_index=True) # ztratila se informace o učebně

# přidat do každé tabulky info o čebně - viz výše

In [ ]:
# přidat do nové proměnné
maturita=pandas.concat([u202, u203, u302],ignore_index=True)
maturita_nova = maturita.dropna(subset=["znamka"]) # nová tabulka bez nulových hodnot
maturita_nova

In [ ]:
maturita.info()
maturita.to_csv("maturita.csv, index=False") # vytvoření nového cvs souboru bez indexu